<div class="row">
  <div class="col">
    <mat-form-field class="example-form-field">
      <mat-label>Location</mat-label>
      <input matInput type="text" [(ngModel)]="location">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <button mat-raised-button color="primary"  (click)="consultMusics()">Search Musics</button>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div *ngIf="playlist">
      <app-playlist [playlist]="playlist"></app-playlist>
    </div>
  </div>
</div>
